:root {
  --yellow-bg: #fed700;
  --white: #ffffff;
  --main-bg: #e5e5e5;
}
.conteiner {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background: linear-gradient(185deg, var(--yellow-bg) 86%, var(--main-bg) 86%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
@media (max-width: 769px) {
  .conteiner {
    height: auto;
  }
}
/* header */
.header__burger {
  display: none;
}
.header,
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 40px 0px 40px 0px;
  margin-bottom: 40px;
  width: 100%;
}
.header__logo {
  max-width: 191px;
  width: 25%;
  margin-right: 80px;
}
.header__form {
  width: 50%;
}
.header__icons {
  width: 25%;
  text-align: center;
  margin-left: 80px;
}
.header__logo > img {
  width: 72px;
  margin-right: 17px;
}
.header__logo_text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}
.header__form {
  position: relative;
}
.header__form_item {
  background: url("./images/Forms/Input/Icons/Search@2x.png") no-repeat 94% 50%
    var(--white);
  background-size: 16px;
  border-radius: 24px;
  width: 100%;
  line-height: 20px;
  color: #7b8e98;
  padding: 14px 20px;
}
.header__icons_item > img {
  margin-right: 39px;
  width: 24px;
}
.header__icons_item:last-child > img {
  margin-right: 0px;
}
.num-bubl::before {
  content: "12";
  background: #01a54e;
  border: 2px solid #fed700;
  border-radius: 20px;
  padding: 1px 4px;
  position: relative;
  top: -14px;
  left: 42px;
  color: var(--white);
}
@media (max-width: 861px) {
  .header__logo {
    margin-right: 30px;
  }

  .header__icons {
    margin-left: 20px;
  }
  .header__icons_item > img {
    margin-right: 20px;
  }
}
@media (max-width: 700px) {
  .header__logo > img {
    width: 48px;
    margin-right: 14px;
  }
  .header__logo_text {
    font-size: 26px;
  }
  .header__icons_item > img {
    width: 20px;
  }
}
@media (max-width: 600px) {
  .header__logo {
    width: 10%;
    margin-right: 32px;
  }
  .header__logo > img {
    margin-right: 0px;
  }
  .header__form {
    width: 80%;
  }
  .header__icons {
    width: 10%;
  }
  .header__logo_text {
    display: none;
  }
  .header__icons_item {
    display: none;
  }
}
/* baner-top */

.section__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section__banner_column {
  width: 50%;
}
.text-block {
  max-width: 415px;
}
.text-block__head {
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
}
.text-block__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
}
.text-block__more-btn {
  background-color: var(--white);
  border-radius: 60px;
  padding: 16px 24px 16px 28px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}
.text-block__more-btn_control > img {
  height: 14px;
  padding-left: 16px;
}
.img-block {
  background: url("./images/baner-top/Image@2x.png") right bottom no-repeat;
  background-size: contain;
  height: 319.07px;
}
@media (max-width: 768px) {
  .section__banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .section__banner_column {
    width: 100%;
  }
  .text-block__head {
    font-size: 38px;
    line-height: 40px;
  }
  .text-block__description {
    font-size: 19px;
    line-height: 24px;
  }
}
@media (max-width: 425px) {
  .page-nav__wrapper {
    margin-top: 0px;
  }
  .img-block {
    height: 221px;
  }
}
/* @media (max-width: 600px) {
  .img-block {
    transform: translateX(80px);
  }
} */


/* nav */
.page-nav__wrapper {
  margin-top: 64px;
}
.page-nav__content {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 20px;
  padding: 23px 40px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.nav__link {
  text-align: center;
}
.nav__link_catalog {
  width: 46px;
  height: 46px;
}
.nav__link_title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .page-nav__wrapper {
    margin-top: 20px;
  }
  .nav__link {
    width: 33.33%;
  }
  .nav__link:nth-child(n + 4) {
    margin-top: 38px;
  }
}
@media (max-width: 600px) {
  .nav__link_catalog {
    font-size: 14px;
  }
  .page-nav__content {
    padding: 23px 16px;
  }
}
@media (max-width: 425px) {
  .nav__link_title {
    font-size: 12px;
  }
}
