.section-baners {
  display: flex;
  margin-top: 40px;
}
.section-baners__wrapper {
  border-radius: 20px;
  width: 488px;
  max-height: 220px;
  margin-right: 16px;
}
.section-baners__wrapper:last-child {
  margin-right: 0px;
}
.baners-yellow {
  background: url("../images/baners/training-set/Frame\ 56@2x.png") right center
    no-repeat #d8a217;
  background-size: contain;
}
.baners-blue {
  background: url("../images/baners/oils/Frame\ 56@2x.png") right center
    no-repeat #24b5be;
  background-size: contain;
}
.section-baners__content {
  padding: 51px 0px 42px 51px;
}
.section-baners__content_title {
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
  color: var(--white);
}
.section-baners__content_subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  margin-top: 8px;
}
.section-baners__content_price {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  color: var(--white);
  margin-top: 20px;
}
/* slider */
.slider__nav {
  display: none;
}
@media (max-width: 768px) {
  .slider__nav {
    display: block;
  }
  .slider {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }
  .slider__nav {
    width: 6px;
    height: 6px;
    margin: 200px 8px;
    border-radius: 50%;
    z-index: 10;
    background-color: var(--white);
    outline: 6px solid var(--white);
    outline-offset: -3px;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    outline-color: #333;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }
  .section-baners__wrapper {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .slider__nav {
    margin: 170px 8px;
  }
  .section-baners__wrapper {
    max-height: 152px;
    margin-right: 16px;
  }
  .section-baners__content_title {
    font-size: 21px;
  }
  .section-baners__content_subtitle {
    font-size: 13.7295px;
    line-height: 16px;
    margin-top: 10px;
  }
  .section-baners__content_price {
    font-size: 22px;
    line-height: 16px;
    margin-top: 16px;
  }
}
