:root {
  --base-text: #1a1a1a;
  --yellow-bg: #fed700;
  --white: #ffffff;
  --main-bg: #e5e5e5;
  --border-r: 20px;
  --active: #F44336;
  --date: #7b8e98;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;800&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
}
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap");
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: var(--white);
}
body,
h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  padding: 0;
  background: none;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
button {
  cursor: pointer;
}
img {
  margin: 0;
  padding: 0;
}
.content-wrapper {
  width: 100%;
  max-width: calc(1000px + 2rem);
  margin: 0 auto;
  /* padding: 0 1rem; */
}

.text-bold {
  font-weight: 800;
}
.text-regular {
  font-weight: 500;
}
