/* baner-top */

.header-section-banner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;
  max-height: 380px;
  max-width: 992px;
}
.header-section-banner__text-block {
  max-width: 415px;
  margin-bottom: 24px;
}
.header-section-banner__text-block_head {
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
}
.header-section-banner__text-block_description {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
}
.header-section-banner__text-block_more-btn {
  background-color: var(--white);
  border-radius: 60px;
  padding: 16px 24px 16px 28px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}
.more-btn_control > img {
  height: 14px;
  padding-left: 16px;
}

.header-section-banner__image-block_img {
  background: url("../images/baner-top/Image@2x.png") right bottom no-repeat;
  background-size: contain;
  display: block;
  width: 490px;
  height: 319.07px;
}

@media (max-width: 769px) {
  .header-section-banner {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px; */
    max-height: 512px;
  }
  .header-section-banner__text-block {
    max-width: 415px;
    max-height: 266px;
    margin-bottom: 24px;
  }
  .header-section-banner__text-block_head {
    font-size: 38px;
    line-height: 40px;
  }
  .header-section-banner__text-block_description {
    font-size: 19px;
    line-height: 24px;
    margin-top: 8px;
  }
  .header-section-banner__text-block_more-btn {
    margin-top: 20px;
  }
  .header-section-banner__image-block_img {
    height: 221.39px;
    width: 325px;
  }
}
@media (max-width: 700px) {
  .header-section-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
  }
  .header-section-banner__image-block {
    transform: translate(200px, -46px);
  }
}
@media (max-width: 542px) {
  .header-section-banner__image-block {
    transform: translate(143px, -46px);
  }
}
@media (max-width: 542px) {
  .header-section-banner__image-block {
    transform: translate(98px, -46px);
  }
  .header-section-banner__image-block_img {
    width: 319px;
  }
}
/* @media (max-width: 425px) {
  .page-nav__wrapper {
    margin-top: 0px;
  }
  .header-section-banner__image-block_img {
    height: 221px;
  }
} */
