.main {
  margin-top: 22px;
  padding: 0 1rem;
}
.base-banner {
  background: url("../images/basic-baner/1/Frame\ 56@2x.png") right center
    no-repeat #ff8f27;
  background-size: contain;
  border-radius: var(--border-r);
  max-height: 260px;
  overflow: hidden;
}
.base-banner__text-block {
  max-width: 390px;
  margin: 52px 25px 52px 87px;
}
.base-banner__text-block_title {
  font-weight: 900;
  font-size: 47px;
  line-height: 50px;
  color: var(--white);
}
.base-banner__text-block_description {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: var(--white);
  margin-top: 24px;
}
@media (max-width: 960px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 128% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 877px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 136% center
      no-repeat #ff8f27;
    background-size: contain;
  }
  .base-banner__text-block_title {
    font-size: 40px;
    line-height: 41px;
  }
  .base-banner__text-block_description {
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width: 742px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 147% center
      no-repeat #ff8f27;
    background-size: contain;
  }
  .base-banner__text-block_title {
    font-size: 30px;
    line-height: 39px;
  }
  .base-banner__text-block_description {
    font-size: 18px;
    line-height: 16px;
  }
  .base-banner__text-block {
    max-width: 250px;
    margin: 52px 25px 52px 25px;
  }
}

@media (max-width: 632px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 167% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 613px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 200% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 595px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 123% center
      no-repeat #ff8f27;
    background-size: contain;
  }
  .base-banner__text-block_title {
    font-size: 21.7573px;
    line-height: 23px;
  }
  .base-banner__text-block_description {
    font-size: 12.9618px;
    line-height: 15px;
  }
  .base-banner__text-block {
    max-width: 181px;
    margin: 40px 0px 39px 18px;
  }
}
@media (max-width: 499px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 153% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 466px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 213% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 425px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 300% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 418px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 344% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 411px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 370% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
@media (max-width: 411px) {
  .base-banner {
    background: url("../images/basic-baner/1/Frame\ 56@2x.png") 4100% center
      no-repeat #ff8f27;
    background-size: contain;
  }
}
