.main-section-products {
  margin-top: 40px;
}
.main-section-products__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-section-products__header_title {
  text-align: left;
  width: 90%;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
}
.main-section-products__cards_wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.main-section-products__cards {
  margin-top: 20px;
  max-width: 236px;
  margin-right: 16px;
}
.main-section-products__cards:last-child {
  margin-right: 0px;
}
.main-section-products__cards_image-wrapper {
  display: flex;
  position: relative;
}
.cards__image {
  height: 187px;
}
.cards__image img {
  max-height: 100%;
}
.badge-new,
.badge-discounts {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  padding: 2px 8px;
  color: var(--white);
  border-radius: 20px;
}
.badge-discounts {
  background: #f44336;
}
.badge-new {
  background: #03a9f4;
}
.select {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.select__icon {
  max-width: 100%;
}
.old-prise {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.main-section-products__cards_content {
  min-height: 100px;
}
.cards__content_prise {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
}
.active-discounts {
  color: var(--active);
}
.cards__content_subtitle {
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  color: #7b8e98;
  margin-top: 6px;
}
.cards__content_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-top: 2px;
  max-width: 216px;
}
.main-section-products__cards_button {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: #fed700;
  border-radius: 55px;
  align-items: center;
  padding: 10px 18px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .main-section-products__header_title {
    font-size: 24px;
    line-height: 28px;
  }
  .main-section-products__cards {
    max-width: 187px;
    margin-top: 26px;
  }
  .cards__image {
    height: 124.89px;
  }
}
